//- demo: true
mixin coreGallery(args)
	include cssmodule

	+module('div', css.module, args)
		-
			let args = item
			const defautGallery = [
				"http://via.placeholder.com/400x400",
				"http://via.placeholder.com/400x400",
			]
			const gallery = set(args, 'gallery', defautGallery)
		
		//- code
		div(class=css.row)

			- for(let i = 0; i < gallery.length; i++)
				- const image = gallery[i];
				div(class=css.col)
					div(class=css.imageWrapper)
						div(class=css.image, style=`background-image: url(${image})`)
						if block
							if (i === gallery.length - 1)
								div(class=css.viewAll)
									block
		
	include cssmodule

//- data-type: firstLarge
//- data-column: Number
//- data-gap: Number
