//- demo: true
mixin coreHeading(args)
	include cssmodule
	+module('div', css.module, args)
		- let args = item

		if (args.icon != false)
			div(class=css.icon)!= args.icon || `<i class="${random(random.lineawesome)}"></i>`


		h2(class=css.title)!= args.title || random(random.title)

		div(class=css.text)!= args.text || random(random.text, 80)

		div(class=css.divider): span
